.table-row {
  text-align: center;
  color: #21334f;
  font-size: 16px;
  line-height: 36px;
  font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif;
}

.dropdown {
    position: relative;
}

.dropdown-btn {
    background: #ffffff;
    padding: 7px;
    border: none;
    text-decoration: none;
    font-size: 1.4rem;
}

.dropdown .dropdown-content {
    position: absolute;
    width: 13rem;
    top: 110%;
    right: 16%;
    padding: 15px;
    background: #fff;
    box-shadow: 3px 3px 10px 6px rgba(0,0,0,0.06);
    font-weight: 400;
    text-align: left;
}

.dropdown .dropdown-content .dropdown-item {
    padding: 0.5rem;
    cursor: pointer;
    transition: all 0.2s;
}

.dropdown .dropdown-content .dropdown-item  button{
    background: #ffffff;
    padding: 0.4rem 4rem 0.3rem 0.4rem;
    color: #21334f;
    border: none;
    text-decoration: none;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.2s;
    border-radius: 3px;
    left: 0;
    box-sizing: border-box;
}

.dropdown .dropdown-content .dropdown-item  button:hover{
    background: #f4f4f4;
}
