.dashboard-body {
    /* background: #fff; */
    background-position: center;
    background-size: cover;
    width: 100%;
   
}

.each-stack{
    width: 305px;
    height: 216px;
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    transition: all 0.33s;
}

.each-stack:hover {
    transform: translateY(-7px);
}

.img-stack{
    height: 64px;
    width: 64px;
    border-radius: 50px;
    background-color: #F8F9FA;
    padding: 1rem;
    align-items: center;
}
img{
    width: 31.25px;
    height: 31.25px;
}
.admin-dashboard{
    /* padding: 104px 32px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dashboard {
    color: #03435F;
    flex: 1;
    width: 161px;
    height: 48px;
    margin: 20px;
}
.create-stack {
    width: 140px;
    height: 40px;
    margin: -10px;
    background: #14A800;
    border-radius: 6px;
    color: white;
    border: none;
    outline: none;
}
.stack-form {
    position: absolute;
    /* width: 619px;
    min-height: 289px; */
    /* width: 50vw;
    height: 30vh; */
    top: 20%;
   right: 20px;
    background: #ffffff;
    box-shadow: 5px 10px 180px 100rem rgba(0,0,0,0.4);
    box-sizing: border-box;
    padding: 40px 45px;
    margin-left: 400px;
    margin-right: 400px;
    width: 600px;  
}

.form {
    margin-top: 0px;
}

@media screen and (max-width: 580px) {
    .stack-form{
        margin-left: 10px;
        margin-right: 40px;
       width: 17rem;
    }
  }
.stack-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #03435F;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0.4rem;
}
.stack-header button{ 
    background: #ffffff;
    color: #000000;
    border: none;
    font-weight: 600;
    font-size: 1rem;
}
.stack-horizon {
    width: 100%;
    /* height: 0px; */
    border: 0.1px thin #D9D9D9
}
.stack-input {
    width: 100%;
    border: 1px solid rgba(33, 51, 79, 0.15);
    height: 37px;
    padding: 0.8rem;
}
.stack-label {
    display: inline-block;
    width: 100%;
    color: #03435F;
    margin-top: 0.8rem;
    margin-bottom: 0.4rem;
    line-height: 19px;
    font-size: 16px;
    font-weight: 400;
}
.stack-button {
    width: 100%;
    margin: 1rem 0rem 1rem 0rem;
    box-sizing: border-box;
    height: 48px;
    background: #14A800;
    color: #ffffff;
    border: none;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.1s;
    cursor: pointer;
}
.stack-button:hover {
    background: #17c600;
}
.dash-head{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 82%;
    margin: 10px 100px;
    align-self: center;
}