.logo{
    display: flex;
    align-items: center;
    font-weight: 470;
    margin-top: 40px;
    font-size: 1.8rem;
    color: #21334F;
}
.logo img{
    width: 42px;
    height: 42px;
   margin-right: 10px;
}

.simple, .select-container {
   width: 100%;
   height: 40px;
   border: 1px solid #e6e6e6;
   border-radius: 5px;
   padding-left: 10px;
   font-size: 1rem;
   color: #2c3f5f;
   font-weight: 200;
   margin-top: 8px;
   margin-bottom: 30px;
}

.simple:focus, .select-container:focus {
   border: 1px solid #50b051;
   outline-color: #bbe6bc;
}
.simpleText{
    font-size: 1.2rem;
    color: #21334F;
    font-weight: bold;
}
.password_btn{
     width: 100%;
    height: 45px;
    text-align: center;
     background-image: linear-gradient(60deg, #50B051 0%, #8EC649  51%, #B3D144  100%) ;
     border: none;  
     color: white;
     font-weight: 500;
}

.password_btn:hover{
    background-image: linear-gradient(30deg,  #50B051  0%, #8EC649  51%,   #B3D144 100%) ;
    color: white;  
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border: 2px;
}

.visible{
    border: 1px solid rgba(33, 51, 79, 0.15);
    width: 100%;
    height: 48px;
    display: flex;
align-items: center;
padding: 18px 20px;
justify-content: space-between;
}

.visible:hover{
    border: 2px solid #d9e0d1;
}


.visible input{
    border: none;
    width: 80%; 
    height: 30px;
    font-size: 1rem;

}
.visible input:focus{
    border: none !important;
   outline: none !important;
}
.visible button{
   border: none;
   outline: none;
   background-color: white;
   width: 40px;
   height: 35px;
   font-size: 1.5rem;
   color: grey;
}
.input-text:focus{
     outline-color: none;
     border: none;
     outline: none;
}
.select-container{
    width: 100%;
    height: 37px;
}
.weekbox{
    width: 17vw;
    height: 35vh;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.weekbox p{
    font-size: 1rem;
    color: #50B051;
    padding-left: 32px;
    font-weight: bold;
    padding-top: 40px;
}
.profilemodal{
    position: absolute;
    width: 23.813rem;
    height: 20.375rem;
    top: 8rem;
    right: 6rem;
     box-shadow: 5px 10px 180px 100rem rgba(0,0,0,0.4);
    box-sizing: border-box;
    background-color: white;
    padding-top: 28px;
    border-radius: 2px;
    
}

.personpic{
  padding-left: 2.3rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 13px;
}

.pimg{
    border-radius: 50%;
    background-color: grey;
    margin-right: 16px;
    width: 65px;
    height: 65px;
}
.namework{
    display: flex;
    flex-direction: column;
}
.profilemodal hr{
    background-color: rgb(214, 208, 208);
    color: rgb(214, 208, 208) ;
    margin-bottom: 2.3rem;
}
.personaction{
    display: flex;
    flex-direction: column;
    gap: 2;
    color: #03435F;
    font-weight: 300;
    font-size: 16px;
}
.personaction p{
    margin-left: 15px;
}
.pro{
    display: flex;
    margin-left: 2.3rem;
    margin-bottom: 19px;
}
.pro :hover{
  font-weight: 600;
}

.tr_score{
     border-bottom: 1px solid rgb(199, 196, 196);
   height: 4rem;
}
