.logo{
    display: flex;
    align-items: center;
    font-weight: 470;
    margin-top: 40px;
    font-size: 1.8rem;
    color: #21334F;
}
.logo img{
    width: 42px;
    height: 42px;
   margin-right: 10px;
}

.simple, .select-container {
   width: 100%;
   height: 40px;
   border: 1px solid #e6e6e6;
   border-radius: 5px;
   padding-left: 10px;
   font-size: 1rem;
   color: #2c3f5f;
   font-weight: 200;
   margin-top: 8px;
   margin-bottom: 30px;
}

.simple:focus, .select-container:focus {
   border: 1px solid #50b051;
   outline-color: #bbe6bc;
}
.simpleText{
    font-size: 1.2rem;
    color: #21334F;
    font-weight: bold;
}
.password_btn{
     width: 100%;
    height: 45px;
    text-align: center;
     background-image: linear-gradient(60deg, #50B051 0%, #8EC649  51%, #B3D144  100%) ;
     border: none;  
     color: white;
     font-weight: 500;
}

.password_btn:hover{
    background-image: linear-gradient(30deg,  #50B051  0%, #8EC649  51%,   #B3D144 100%) ;
    color: white;  
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   border: 2px;
}

.visible{
    border: 1px solid rgba(33, 51, 79, 0.15);
    width: 100%;
    height: 48px;
    display: flex;
align-items: center;
padding: 18px 20px;
justify-content: space-between;
}

.visible:hover{
    border: 2px solid #d9e0d1;
}


.visible input{
    border: none;
    width: 80%; 
    height: 30px;
    font-size: 1rem;

}
.visible input:focus{
    border: none !important;
   outline: none !important;
}
.visible button{
   border: none;
   outline: none;
   background-color: white;
   width: 40px;
   height: 35px;
   font-size: 1.5rem;
   color: grey;
}
.input-text:focus{
     outline-color: none;
     border: none;
     outline: none;
}
.select-container{
    width: 100%;
    height: 37px;
}
.weekbox{
    width: 17vw;
    height: 35vh;
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.weekbox p{
    font-size: 1rem;
    color: #50B051;
    padding-left: 32px;
    font-weight: bold;
    padding-top: 40px;
}
