.box-user, .headuser{
    display: flex;
    justify-content: center;
    margin-top: 32px;
   
 }
 .box-user{
    background-color: white;
 }
 .headuser {
    font-weight: 600;
    font-size: 1.9rem;
    color: #21334f;
    text-align: center;
     margin-top: 0px !important;
 }
 .form-createadmin{
    width: 44.5vw;
    height: 800px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding-bottom: 30px;
 }
 .headerCon{
     width: 44.5vw;
     display: flex;
     justify-content: space-between;
     line-height: 17px;
     font-size: 14px;
     
 }
 .headerCon button{
    color: #14A800; 
    border: 1px solid #14A800;
    border-radius: 4px;

    background-color: rgb(252, 252, 252);
    font-size: 14px;
    font-family: 'inter'
 }

.headerCon button:hover{
    background-color:  #14A800; 
    color: white;
    border: 1px solid #14A800
}

 .headerCon p{
     font-size: 30px;
     color: #03435F;
     font-weight: 500;
 }
 .formuser{
     padding: 50px 50px;
     background: white;
 }
 .userp{
     margin-top: 3.8vh;
     margin-bottom: 8px;
     margin-left: 3.8vw;
     color: #BDBDBD;
 }
 .form-boxx hr{
      color: #BDBDBD; 
 }
 .admin-container{
     margin: 3rem 14rem;
 }
