.popover-btn:hover{
    background-color: green;
    color: white;
}
#profile_img{
    display: none;
}

.form-group{
    margin-top: 2em;
}

.form-control-lg{
    width: 100%;
    height: 3em;
    padding-left: 1rem;
}

.header{
    text-align: center;
}

.header h1{
    margin: 2rem;
}


profile_img{
    width: 100%;
    height: auto;   
    border-radius: 50%;
    border: gray solid 1px;
}

.profile_img_div{
    text-align: center;
    font-size: 3rem;
    margin: 4rem;
}

.row{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding-bottom: 4rem;
    
    
}

.submit-btn{
    background-color: blue;
    color: white;
}