
.popover-btn:hover{
    background-color: green;
    color: white;
}



/* 
.popover-container:active .popover-content{
    display: inline-block;
}

.popover-container{
    position: relative;
}

.popover-content{
    position: absolute;
    top: 4%;
    left: 5%;
    z-index: 40;
    display: none;
} */





/* <td>
                                             <div>
                                                  <div className="popover-container">
                                                       <span className="fa fa-menu"> menu</span>
                                                        <div className="popover-content row" id={`p${admin._id}`}>
                                                            <div className="col lg" onClick={(e) => { alert("here")}}> <h1>more</h1> </div>
                                                        </div>
                                                 </div>
                                             </div>
                                         </td> */